<%- include("header");-%>

<h1>home</h1>
<p>  <%= para %> </p>
<% for( var i=0;i<item.length;i++){ %>
   
    <p> <%= item[i].title %> </p>
<p>  <%=item[i].post.substring(0,100)+"..."  %>
    <a href="/post/<%=item[i].title%>">Readmore</a>
</p>
<% }; %>

<%- include("footer");-%>
